<!-- formulaire -->
<div class="fixed-top" style="margin-top: 6%;">
    <div class="card fixed-right col-4 shadow-sm p-3 mb-5 bg-white rounded"
        style="float: right; margin-left: 1%; margin-top: 0.5%;">
        <div class="card-header text-center">
        Inscription
        </div>
        <div class="card-body">
        <input type="text"
                class="form-control"
                placeholder="Votre nom"
                required
        
        >&nbsp;
        <input type="mail"
                class="form-control"
                placeholder="Votre andress mail"
                
        
        >&nbsp;
        <input type="password"
                class="form-control"
                placeholder="Nauveau mot de passe"
                
        
        >&nbsp;
        <input type="password"
                class="form-control"
                placeholder="Confirmer le mot de passe"
                
        
        ><br>
        
        <input type="password"
                class="form-control"
                placeholder="Nauveau mot de passe"
                
        
        >&nbsp;
        <input type="password"
                class="form-control"
                placeholder="Confirmer le mot de passe"
                
        
        ><br>
        <div class="text-center">
            <a href="#" class="btn btn-outline-secondary">annuler</a>&nbsp;
            <a href="#" class="btn btn-outline-success">S'inscrir</a>
        </div>
        
        </div>
    </div>
    




    <div class="d-flex flex-column
                flex-md-row align-items-center
                p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" 
                style="margin-left: 1%;"
                >
        <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
        <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="pricing.htm#">Features</a>
        <a class="p-2 text-dark" href="pricing.htm#">Enterprise</a>
        <a class="p-2 text-dark" href="pricing.htm#">Support</a>
        <a class="p-2 text-dark" href="pricing.htm#">Pricing</a>
        </nav>
        <a class="btn btn-outline-primary" href="pricing.htm#">Sign up</a>
    </div>
<div>