
 <!-- FOOTER -->
 <footer class="pt-4  bg-info pt-md-5 border-top" id="
 ">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy;Razafindratiana tahindreny jose 2020-2021 &copy;</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted " href="pricing.htm#">Cool stuff</a></li>
          <li><a class="text-muted" href="pricing.htm#">Random feature</a></li>
          <li><a class="text-muted" href="pricing.htm#">Team feature</a></li>
          <li><a class="text-muted" href="pricing.htm#">Stuff for developers</a></li>
          <li><a class="text-muted" href="pricing.htm#">Another one</a></li>
          <li><a class="text-muted" href="pricing.htm#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="pricing.htm#">Resource</a></li>
          <li><a class="text-muted" href="pricing.htm#">Resource name</a></li>
          <li><a class="text-muted" href="pricing.htm#">Another resource</a></li>
          <li><a class="text-muted" href="pricing.htm#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="pricing.htm#">Team</a></li>
          <li><a class="text-muted" href="pricing.htm#">Locations</a></li>
          <li><a class="text-muted" href="pricing.htm#">Privacy</a></li>
          <li><a class="text-muted" href="pricing.htm#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>